/*Selects all elements*/

*{
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.cotn_princpal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #aac4bc;
    background: -moz-linear-gradient(-45deg,  #aac4bc 0%, #eca8a8 100%, #eed5a9 100%); 
    background: -webkit-linear-gradient(-45deg,  #aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
    background: linear-gradient(135deg, #aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 );
}

.cont_centrar{
    position: relative;
    float: left;
    width: 100%;
}

.cont_login {
    position: relative;
    width: 640px;
    left: 50%;
    margin-left: -320px;
}

/* come back and check it*/
.back_info{
    position: relative;
    float: left;
    width: 640px;
    height: 280px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 100px;
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.6);
}

.cont_forms {
    position: absolute;
    overflow: hidden;
    top: 100px;
    left: 0px;
    width: 320px;
    height: 280px;
    background-color: #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*come back and verfy*/

.cont_forms_active_login{
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);;
    height: 420px;
    top: 20px;
    left: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.cont_forms_active_sign_up{
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);;
    height: 420px;
    top: 20px;
    left: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.img_back_grey{
    position: absolute;
    width: 950px;
    top: -80px;
    left: -116px;
}.img_back_grey > img{
    width: 100%;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    opacity: 0.2;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}

.img_back{
    position: absolute;
    width: 950px;
    top: -80px;
    left: -116px;
}
.img_back >img{
    width: 100%;
    opacity: 0.3;
    animation-name: nimar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}
.cont_forms_active_login >.img_back{
    top: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
} 

.cont_forms_active_sign_up >.img_back{
    top: 0px;
    left: -435px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_info_log_sign_up{
    position: absolute;
    width: 640px;
    height: 280px;
    top: 100px;
    z-index: 1;
}
.md_login{
    position: relative;
    float: left;
    width: 50%;
}

.md_login h2{
    font-weight: 400;
    margin-top: 70px;
    color: #757575;
}
.md_login p{
    font-weight: 400;
    margin-top: 15px;
    width: 80%;
    color: #37374f;
}

.btn_login{
    background-color: #ff9800;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}


.md_sign_up{
    position: relative;
    float: left;
    width: 50%;
}

.ba_opcitiy  h2{
    font-weight: 400;
    color: #fff; 
}

.ba_opcitiy p {
    font-weight: 400;
    margin-top: 15px;
    color: #fff; 
}
/* background text*/
.ba_opcitiy{
    position: relative;
    background-color: rgba(187, 161, 161, 0.5);
    width: 80%;
    border-radius: 3px;
    margin-top: 60px;
    padding: 15px 0px;
}
.btn_sign_up{
    background-color: #f44336;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.cont_forms_active_sign_up{
    z-index: 2;
}



@-webkit-keyframes animar_fondo {
  from { -webkit-transform: scale(1) translate(0px);
-moz-transform: scale(1) translate(0px);
-ms-transform: scale(1) translate(0px);
-o-transform: scale(1) translate(0px);
transform: scale(1) translate(0px); }
  to { -webkit-transform: scale(1.5) translate(50px);
-moz-transform: scale(1.5) translate(50px);
-ms-transform: scale(1.5) translate(50px);
-o-transform: scale(1.5) translate(50px);
transform: scale(1.5) translate(50px); }
}
@-o-keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

}
@-moz-keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

}
@keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }
}

/*revist*/


@-webkit-keyframes animar_fondo {
    from { -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px); }
    to { -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px); }
}



@-o-keyframes identifier {
from { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    to { -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
}

@-moz-keyframes identifier {
    from { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    to { -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
}

@keyframes identifier {
    from { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    to { -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
}
/*end*/

.form_login {
    position: absolute;
    opacity: 0;
    display: none;
    width: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
}
.cont_forms_active_login{
    z-index: 2;
}
.cont_forms_active_login .form_login{
}

.form_sign_up{
    position: absolute;
    width: 320px;
    float: left;
    opacity: 0;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;  
}



.form_login input,
.form_sign_up input {
    width: calc(100% - 30px); /* Adjust width with padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.form_login h2{
    margin-top: 110px;
    font-weight: 400;
    color: #757575;
}

.form_login a,.form_sign_up a{
    color: #757575;
    position: relative;
    float: left;
    margin: 10px;
    margin-left: 30px;
}
