body{
    font-family:'Robot', sans-serif;
    margin: 0;
}

h1{
    padding: 8px;
    background: rgba(rgb(225, 103, 103), 0, 0, 0, 8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}
p{
    line-height: 1.5;
}
main{
   margin:0 auto; 
}
input,
textarea {
    height: 30px;
    padding: 0 16px;
    font-size: 20px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: inset 8px 18px -4px rgba(93, 86, 74, 0);
}
input:focus,
textarea:focus {
    outline: none;
}

/*Banner*/

#banner {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0) url(/5.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

#banner h3{
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}

/* search Box */
#searchbox {
    position: fixed;
    top: 24px;
    right: 0;
    width: 500px;
    z-index: 50;
    transition: 0.4s;
    pointer-events: none;
}

#searchbox input {
    height: 35px;
    width: 100%;
}

/* Navigation */
nav{
    padding: 0 16px 0 0;
    background: #202020;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed',sans-serif;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    height: 72px;
}

nav a{
    padding:0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover{
    text-decoration: none;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;

}
.active{
    color: yellowgreen;
} 

#Dekater-img{
    display: flex;
    height: 100%;
    background: transparent;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}
#Dekater-img img{
    height: 78px;
    width: auto;
}
#Dekater-img :hover{
    background: border-box;

}

#menu-icon {
    height: 100%;
    font-size: 26px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}
/* search-icon*/
#Search-icon {
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#Search-icon :hover{
    color: red;
}

/*slideout-menu*/
#slideout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#slideout-menu ul{
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li{
    padding: 8px;
}

#slideout-menu a{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    color: white;
}


#slideout-menu input{
    width: 82%;
    padding: 8px;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    text-align: center;
}

#searchbox{
    display: none;
}

/*section*/

#section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

.section-heading:hover{
    padding: 4px 48px;
    background: yellowgreen;
}
/*remove*/


#section-heading a{
    border:none;
    border-left: #202020;
}



/*section*/

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 2000px;
    margin: 20px auto;
}


/*card*/
.card {
    width: 30%;
    margin-bottom: 20px;
    border: 0 ;
    box-shadow: 0 0 0 ;
}
.card-image {
    transition: 0.4s;
}

.card-image:hover{
    box-shadow: 0 10px 6px -6px #777; 
}


.card .card-description {
    padding: 15px;
}

/* media Queries */

@media (max-width: 900px){
    nav ul{
        display: none;
    }
    #menu-icon {
        display: flex;
    }
    #slideout-menu {
        display: none; 
    }
    #searchbox {
        display: none;
    }
}

@media(max-width:715px){
    main{
        width: 95%;
    }
    section{
        flex-direction: column;
    }
    .card,
    .card .card-image img{
        width: 100%;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    footer #left-footer{
        flex: 1;
        border-right: 0;
        padding-right: 0;
    }

    footer #right-footer{
        background: #eee;
        color: black;
    }
    footer #right-footer a{
        color: black;
    }
    footer #social-media-footer a.fa-facebook,
    footer #social-media-footer a.fa-instagram,
    footer #social-media-footer a.fa-twitter,
    footer #social-media-footer a.fa-apple,
    footer #social-media-footer a.fa-youtube,
    footer #social-media-footer a.fa-github {
    transition: 0.3s;
    color: black;
    }
}
  
@media(max-width:600px){
    main{width: 100%;
    }
   h1{
    font-size: 48px;
   }
   #banner h3{
    font-size: 23px;
   }
   .card {
    text-align: center;
   }
   #logo-img{
    padding: 0;
   }
}

@media(min-width:720px){
    main {
    width: 95%;
    }
    .card {
    width: 45%;
    }
    .card .card-image img{
        width: 100%;
        border-radius: 8px;
    }
}

/*Footer*/
footer{
    background: black;
    padding: 8px;
    color: #eee;
    display: flex;
}
footer a{
    color: white;
}
footer #left-footer{
    flex: 1;
    border-right: 1px solid red;
    padding-left: 32px;
    text-decoration: none;
 }
footer #left-footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
    text-decoration: none;
}

footer #right-footer{
    flex: 2;
    padding: 11px;
    text-align: center;
}

footer #social-media-footer a.fa-facebook,
footer #social-media-footer a.fa-instagram,
footer #social-media-footer a.fa-twitter,
footer #social-media-footer a.fa-apple,
footer #social-media-footer a.fa-youtube,
footer #social-media-footer a.fa-github {
    color: white;
    transition: 0.3s;
}

footer #social-media-footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
footer #social-media-footer ul li{
    font-size: 33px;
    padding: 14px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-facebook{
    color:#3b5998;
}

footer #social-media-footer ul li:hover a .fa-youtube{
    color:red;
}

footer #social-media-footer ul li:hover a .fa-instagram{
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045);
      
}
footer #social-media-footer ul li:hover a .fa-twitter{
    color:  rgb(29, 161, 242);
}

footer #social-media-footer ul li:hover a .fa-github{
    color:#2b3137;
}

footer #social-media-footer ul li:hover a .fa-apple{
    color:rgb(142, 142, 147);
}

/*btn-readmore*/

.btn-readmore{
    padding: 8px 24px;
    border: 1px solid black;
    transition: 0.4s;
    display: inline-flex;
    margin-bottom: 22px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
}
.btn-readmore:hover{
    background: yellowgreen;
    text-decoration: none;
    padding: 8px 63px;
    color: white;
}