body{
    font-family:'Robot', sans-serif;
    margin: 0;
}

h1{
    padding: 8px;
    background: rgba(rgb(225, 103, 103), 0, 0, 0, 8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}
p{
    line-height: 1.5;
}
main{
   margin:0 auto; 
}
input,
textarea {
    height: 30px;
    padding: 0 16px;
    font-size: 20px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: inset 3px 18px -4px rgba(93, 86, 74, 0);
}
input:focus,
textarea:focus {
    outline: none;
}

/*Banner*/

#banner {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0) url(../5.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}
 
#banner h3{
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}

/*search Box*/
#searchbox {
    position: fixed;
    top: 24px;
    right: 0;
    width: 500px;
    z-index: 50;
    transition: 0.4s;
    pointer-events: none;
}

#searchbox input {
    height: 35px;
    width: 95%;
}

/* Navigation */
nav{
    padding: 0;
    background: #202020;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed',sans-serif;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    height: 72px;
}
nav a{
    padding:0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover{
    text-decoration: none;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;

}
.active{
    color: yellowgreen;
} 

#Dekater-img{
    display: flex;
    height: 100%;
    background: transparent;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}
#Dekater-img img{
    height: 78px;
    width: auto;
}
#Dekater-img :hover{
    background: border-box;

}

#menu-icon {
    height: 100%;
    font-size: 26px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}
/* search-icon*/
#Search-icon {
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#Search-icon :hover{
    color: red;
}

/*slideout-menu*/
#slideout-menu {
    display: none;
}
#searchbox{
    display: none;
}