body{
    font-family:'Robot', sans-serif;
    margin: 0;
}

h1{
    padding: 8px;
    background: rgba(rgb(225, 103, 103), 0, 0, 0, 8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}
p{
    line-height: 1.5;
}
main{
   margin:0 auto; 
}
/*Banner*/

#banner {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0) url(../5.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}
 
#banner h3{
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}